*{
    margin: 0;
    padding: 0;
    font-family: 'poppinns', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator{
    /* margin: auto; */
    width: 70vw;
    height: 70vh;
    border: 1px solid red;
    background-color: bisque;
   
}
#heading{
    width: 80%;
    height: 7vh;
    margin:  auto;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: black;
}
.heading-text{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
}
#result{
    background-color: white;
    width: 80%;
    height: 12vh;
    border: 1px solid black;
    margin: 10px auto;
    box-shadow: 0px 0px 6px 4px rgba(73, 67, 67, 0.3);
}
#keys{
    width: 80%;
    height: 43vh;
    margin: 10px auto;
    /* border: 1px solid red; */
    background-color: white;
}
#key{
    width: 24.5%;
    height: 8.5vh;
    /* padding: 10px; */
    display: inline-block;
    /* border: 1px solid green; */
    cursor: pointer;
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    box-shadow: 0px 0px 6px 4px rgba(73, 67, 67, 0.3);
}
#zero{
    width: 49.5%;
    height: 8.5vh;
    /* padding: 10px; */
    padding-top: 10px;
    display: inline-block;
    /* border: 1px solid green; */
    margin: 0;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 6px 4px rgba(73, 67, 67, 0.3);
}
.red{
    background-color: red;
    color: white;
  
}
#operator{
    font-weight: bold;
}
#value{
    padding: 10px;
    font-size: 45px;
}

